/* Responsive styles */
@media only screen and (max-width: 767px) {
    body {
        font-family: Arial, sans-serif;
        margin: 2px auto;
        padding: 2px auto; 
        background-color: #f2f2f2;
    }

    .container {
        max-width: 100%;
        margin: 2px auto;
        padding: 20px auto;
    }

    .header h1 {
        font-size: 24px;
    }

    ul li {
        font-size: 14px;
        padding: 10px auto; 
    }

     ul {
        padding: 10px auto; /* Adjust padding for mobile */
    }
}
